@model IEnumerable<RecipeNationalityViewModel>

@{
    this.ViewData["Title"] = "Всички Националности";
}

<h1 class="text-center">Националности</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Име</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipeNationality in this.Model)
        {
            <tr>
                <td>@recipeNationality.Id</td>
                <td>@recipeNationality.Name</td>
                <td>
                    <a asp-controller="RecipeNationalities" asp-action="Delete" asp-route-id="@recipeNationality.Id" class="btn btn-danger">Изтрий</a>
                    <a asp-controller="RecipeNationalities" asp-action="Edit" asp-route-id="@recipeNationality.Id" class="btn btn-warning">Редактирай</a>

                </td>
            </tr>
        }
    </tbody>
</table>