@model IEnumerable<RecipeNationalityViewModel>

@{
    this.ViewData["Title"] = "Recipe Nationalities List";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipeNationality in this.Model)
        {
            <tr>
                <td>@recipeNationality.Id</td>
                <td>@recipeNationality.Name</td>
                <td>
                    <a asp-controller="RecipeNationalities" asp-action="Delete" asp-route-id="@recipeNationality.Id" class="btn btn-danger">Delete</a>
                    <a asp-controller="RecipeNationalities" asp-action="Edit" asp-route-id="@recipeNationality.Id" class="btn btn-warning">Edit</a>

                </td>
            </tr>
        }
    </tbody>
</table>