@model IEnumerable<RecipeTypeViewModel>

@{
    this.ViewData["Title"] = "Всички Типове";
}

<h1 class="text-center">Типове</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Име</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipeType in this.Model)
        {
            <tr>
                <td>@recipeType.Id</td>
                <td>@recipeType.Name</td>
                <td>
                    <a asp-controller="RecipeTypes" asp-action="Delete" asp-route-id="@recipeType.Id" class="btn btn-danger">Изтрий</a>
                    <a asp-controller="RecipeTypes" asp-action="Edit" asp-route-id="@recipeType.Id" class="btn btn-warning">Редактирай</a>
                </td>
            </tr>
        }
    </tbody>
</table>