@model CreateRecipeTypeInputModel

@{
    this.ViewData["Title"] = "Добавяне на Тип";
}

<h1 class="text-center">Добавяне на Тип</h1>

<form method="post" asp-controller="RecipeTypes" asp-action="Create">
    <div asp-validation-summary="All" class="alert-danger"></div>

    <div class="form-group">
        <label asp-for="Name">Име</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="alert-danger"></span>
    </div>

    <input type="submit" value="Добави" class="btn btn-primary mt-3" />
</form>