<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Recipes</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Recipes.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Recipes" asp-action="FilteredWithPagination">Рецепти</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">
					<ul class="navbar-nav flex-grow-1 gap-2">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="Random">Случайни Рецепти</a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="New">Нови рецепти</a>
						</li>
					</ul>

					<ul class="navbar-nav d-flex align-items-center gap-2">
						@if (this.User.IsInRole(Constants.ADMINISTRATOR_ROLE))
						{
							<li class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
									Други
								</button>

								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item text-dark" asp-area="" asp-controller="Recipes" asp-action="List">Рецепти</a>
									<a class="dropdown-item text-dark" asp-area="" asp-controller="Categories" asp-action="All">Категории</a>
									<a class="dropdown-item text-dark" asp-area="" asp-controller="RecipeNationalities" asp-action="All">Националности</a>
									<a class="dropdown-item text-dark" asp-area="" asp-controller="RecipeTypes" asp-action="All">Типове</a>
									<a class="dropdown-item text-dark" asp-area="" asp-controller="Ingredients" asp-action="All">Продукти</a>
								</div>
							</li>
						}

						@if (this.User.Identity.IsAuthenticated)
						{
							<li class="dropdown">
								<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-journal-plus" viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5" />
										<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
										<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
									</svg>
								</button>

								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item text-dark" asp-area="" asp-controller="Recipes" asp-action="Create">Рецепти</a>
									
									@if (this.User.IsInRole(Constants.ADMINISTRATOR_ROLE))
									{
										<a class="dropdown-item text-dark" asp-area="" asp-controller="Categories" asp-action="Create">Категории</a>
										<a class="dropdown-item text-dark" asp-area="" asp-controller="RecipeNationalities" asp-action="Create">Националности</a>
										<a class="dropdown-item text-dark" asp-area="" asp-controller="RecipeTypes" asp-action="Create">Типове</a>
										<a class="dropdown-item text-dark" asp-area="" asp-controller="Ingredients" asp-action="Create">Продукти</a>
									}
								</div>
							</li>
						}

					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - Recipes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
