@model CreateRecipeInputModel

@{
    this.ViewData["Title"] = "Create Recipe Page";
}

<h1 class="text-center">Create Recipe</h1>

<form method="post" asp-controller="Recipes" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="alert-danger"></div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PreparationTime"></label>
        <input class="form-control" asp-for="PreparationTime" />
        <span asp-validation-for="PreparationTime" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CookingTime"></label>
        <input class="form-control" asp-for="CookingTime" />
        <span asp-validation-for="CookingTime" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Portions"></label>
        <input class="form-control" asp-for="Portions" />
        <span asp-validation-for="Portions" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Difficulty"></label>
        <input class="form-control" asp-for="Difficulty" />
        <span asp-validation-for="Difficulty" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FormFile"></label>
        <input class="form-control" asp-for="FormFile" />
        <span asp-validation-for="FormFile" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RecipeTypeId"></label>
        <select class="form-select" asp-for="RecipeTypeId" asp-items="this.Model.RecipeTypeItems"></select>
        <span asp-validation-for="RecipeTypeId" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RecipeNationalityId"></label>
        <select class="form-select" asp-for="RecipeNationalityId" asp-items="this.Model.RecipeNationalityItems"></select>
        <span asp-validation-for="RecipeNationalityId" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select class="form-select" asp-for="CategoryId" asp-items="this.Model.CategoryItems"></select>
        <span asp-validation-for="CategoryId" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Ingredients">
            Ingredients (one per line) / Example: potatoes - 1 kg
        </label>
        <textarea class="form-control" asp-for="Ingredients" style="height: 200px"></textarea>
        <span asp-validation-for="Ingredients" class="alert-danger"></span>
    </div>

    <input type="submit" value="Create" class="btn btn-primary mt-3" />
</form>