@model IEnumerable<IngredientTypeViewModel>

@{
    this.ViewData["Title"] = "Ingredient Types List";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredientType in this.Model)
        {
            <tr>
                <td>@ingredientType.Id</td>
                <td>@ingredientType.Name</td>
                <td>
                    <a asp-controller="IngredientTypes" asp-action="Delete" asp-route-id="@ingredientType.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>