@model IEnumerable<CategoryViewModel>

@{
    this.ViewData["Title"] = "Всички Категории";
}

<h1 class="text-center">Категории</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Име</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in this.Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">Изтрий</a>
                    <a asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning">Редактирай</a>
                </td>
            </tr>
        }
    </tbody>
</table>